<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll App | Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                container: {
                    center: true,
                    screens: {
                        sm: '600px',
                        md: '728px',
                        lg: '984px',
                        xl: '1240px',
                        '2xl': '1280px',
                    },
                    padding: {
                        DEFAULT: "1rem",
                        sm: "2rem",
                        md: "4rem",
                        lg: "5rem",
                        "xl": "5rem",
                        '2xl': "5.5rem"
                    },
                },
                extend: {
                    colors: {
                        primary: '#00B4D8',
                        secondary: "#90e0ef"
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-gray-100">

    <!-- Navigation Bar -->
    <nav class="bg-primary py-4">
        <div class="container mx-auto flex items-center justify-between">
            <a href="/" class="text-white text-xl font-bold">Poll App</a>
            <ul class="inline-flex items-center space-x-3">
                <li>
                    <a class="text-white font-semibold hover:underline" href="/polls">All Polls</a>
                </li>
                <li>
                    <a class="text-white font-semibold hover:underline" href="/polls/create">Create</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-8">
        <h1 class="text-3xl font-bold mb-4">Welcome to the Poll App</h1>
        <p class="text-gray-700 mb-8">Vote on your favorite topics and see the results!</p>
    </div>

</body>

</html>